body{
background: #1a7e;
}


	.login_div1 , .login_div2
	{
		background: #3ae2;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#n1 , #n2
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#player1nameinput , #player2nameinput{
    background: #af09c76f;
}